<section class="container content">
  <h2>Як все працює?</h2>

  <div class="two-cols">
    <figure class="p-2 flex-center flex-col">
      <img src=".\assets\img\how-it-works\1.svg" alt="" />
      <figcaption><b>Ви обираєте собі картину довподоби.</b></figcaption>
      <picture class="arrow right">
        <source
          media="(min-width: 960px)"
          srcset=".\assets\img\how-it-works\arr-right-down.svg"
        />
        <img src=".\assets\img\how-it-works\arr-down.svg" alt="arrow down" />
      </picture>
    </figure>
  </div>

  <div class="two-cols reverse">
    <figure class="p-2 flex-center flex-col">
      <img src=".\assets\img\how-it-works\2.svg" alt="" />
      <figcaption><b>Замовляєте та оплачуєте</b></figcaption>

      <picture class="arrow left">
        <source
          media="(min-width: 960px)"
          srcset=".\assets\img\how-it-works\arr-left-down.svg"
        />
        <img src=".\assets\img\how-it-works\arr-down.svg" alt="arrow down" />
      </picture>
    </figure>
  </div>

  <div class="two-cols">
    <figure class="p-2 flex-center flex-col">
      <img src=".\assets\img\how-it-works\3.svg" alt="" />
      <figcaption><b>Майстер створює картину та надсилає вам</b></figcaption>
      <picture class="arrow right">
        <source
          media="(min-width: 960px)"
          srcset=".\assets\img\how-it-works\arr-right-down.svg"
        />
        <img src=".\assets\img\how-it-works\arr-down.svg" alt="arrow down" />
      </picture>
    </figure>
  </div>

  <div class="two-cols reverse">
    <figure class="p-2 flex-center flex-col">
      <img src=".\assets\img\how-it-works\4.svg" alt="" />
      <figcaption><b>Ви забераєте картину на пошті</b></figcaption>
      <picture class="arrow left">
        <source
          media="(min-width: 960px)"
          srcset=".\assets\img\how-it-works\arr-left-down.svg"
        />
        <img src=".\assets\img\how-it-works\arr-down.svg" alt="arrow down" />
      </picture>
    </figure>
  </div>

  <div class="two-cols">
    <figure class="p-2 flex-center flex-col">
      <img src=".\assets\img\how-it-works\5.svg" alt="" />
      <figcaption><b>Вона прекрашає ваш інтер'єр і залишаєте для нас відгук С:</b></figcaption>
    </figure>
  </div>
</section>
