<nav class="mobile-menu">
  <!-- <a routerLink="/" class="menu-item" aria-label="Головна">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3z" fill="white"/>
    </svg>
  </a>

  <a routerLink="/shop" class="menu-item" aria-label="Магазин">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M4 4h16v2H4V4zm-1 4h18l-1 10H4L3 8zm3 12h10v2H6v-2z" fill="white"/>
    </svg>
  </a>

  <a routerLink="/reviews" class="menu-item" aria-label="Відгуки">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2 21l1.5-5.5L2 10l10-6 10 6v10H2z" fill="white"/>
    </svg>
  </a> -->

  <a routerLink="/favorites" class="menu-item" aria-label="Обране">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" fill="white"/>
    </svg>
  </a>
</nav>
