.reviewForm{
  max-width: 420px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 24px;
  cursor: pointer;
}

.rating span {
  transition: color 0.2s;
}

.rating span.active {
  color: red;
}

.rating-text {
  margin-left: 10px;
  font-size: 18px;
}

.preview {
  margin-top: 10px;

  img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}
