.pre-header {
  width: 100%;
  padding: 24px;

  // background-image: url("/assets/img/painting.png");
  background-size: cover;
  background-position: center;
  background-color: #000444;

  h1 {
    color: seashell;
  }
}
