<div
  class="modal-wrapper"
  [class.active]="isModalOpen"
  (click)="onBackdropClick($event)"
>
  <div class="modal box">
    <div class="modal-content">
      <div class="modal-header">
        @if(title) {
        <h3>{{ title }}</h3>
        }

        <app-social-links />

        <button class="close-button" (click)="closeModal()">
          <i class="fas fa-times"></i>
        </button>
      </div>

      <div class="modal-content">
        <app-contact-form />
      </div>
    </div>
  </div>
</div>
